/********** Template CSS **********/
.box1 {
    height: 550px;
    padding: 50px 0;
    flex: 1 1 0px;
    width: 16.6%;
    min-height: 100px;
    transition: flex 1s;
    position: relative;
}


    .box1-expand .box1:nth-child(1){
    background-color: #2655A5;
    }
     .box1-expand .box1:nth-child(1):hover{
    background-color: #CB4844;
    }
    .box1-expand .box1:nth-child(2){
        background-color: #2655A5;
    }
    .box1-expand .box1:nth-child(2):hover{
        background-color: #CB4844;
    }
    .box1-expand .box1:nth-child(3){
        background-color: #1B4A99;
      }
      .box1-expand .box1:nth-child(3):hover{
        background-color: #CB4844;
      }
      .box1-expand .box1:nth-child(4){
        background-color: #0D3A85;
      }
      .box1-expand .box1:nth-child(4):hover{
        background-color: #CB4844;
      }
      .box1-expand .box1:nth-child(5){
        background-color: #083074;
      }
      .box1-expand .box1:nth-child(5):hover{
        background-color: #CB4844;
      }
      .box1-expand .box1:nth-child(6){
        background-color: #052763;
      }
      .box1-expand .box1:nth-child(6):hover{
        background-color: #CB4844;}

        .box1-expand {
            width: 100%;
            /* color: white; */
            display: flex;
            padding: 0;
            position: relative;
            /* flex-direction: column; */
        }





